@model _20200921.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
<h4>Reviews (average score: @(Model.Reviews?.Average(review => review.Score) ?? 0) of @(Model.Reviews?.Count ?? 0) reviews)</h4>
<div> 
    @if(Model.Reviews?.Any() ?? false)
    {
    <table>
        @foreach (Review review in Model.Reviews)
        {
        <tr>
            <td>@(review.Score)</td>
            <td>@(review.Text)</td>
        </tr>
        }
    </table>
    }
    else
    {
        <p>No reviews for this item yet.</p>
    }
</div>
<div>
    <form asp-action="AddReview" asp-route-id="@(Model.Id)">
        <label for="score">Score:</label>
        <input name="score" type="range" min="0" max="10"/>
        <label for="text">Enter your review:</label>
        <input name="text" />
        <input type="submit" />
    </form>
</div>
