@model _20200921.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
<h4>Reviews (average score: @(Model.Reviews?.Average(review => review.Score) ?? 0) of @(Model.Reviews?.Count ?? 0) reviews)</h4>
<div> 
    @if(Model.Reviews?.Any() ?? false)
    {
    <table>
        @foreach (Review review in Model.Reviews)
        {
        <tr>
            <td style="padding: 8px; font-style: italic;">@(review.User?.UserName ?? "Anonymous")</td>
            <td style="padding: 8px; font-weight: 700; font-size: 150%;">@(review.Score)</td>
            <td style="padding: 8px;">@(review.Text)</td>
        </tr>
        }
    </table>
    }
    else
    {
        <p>No reviews for this item yet.</p>
    }
</div>
<div class="review-form">
    <form asp-action="AddReview" asp-route-id="@(Model.Id)">
        <label for="Score">Score:</label>
        <input name="Score" type="range" min="0" max="10" style="width: 40%;"/>
        <textarea name="Text" placeholder="Enter your review" cols="80" rows="12"></textarea><br />
        <input type="submit" />
    </form>
</div>
