@model IEnumerable<_20200921.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <label for="priceFrom">Price from</label>
    <input name="priceFrom" type="number" />
    <label for="priceTo">Price to</label>
    <input name="priceTo" type="number" />
    <input class="btn btn-primary" type="submit"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn" })
                @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
